<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440845684486-rpodv9uu8ii4bsg9e90ldiq4eg85li9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440845684486-rpodv9uu8ii4bsg9e90ldiq4eg85li9a</string>
	<key>API_KEY</key>
	<string>AIzaSyAey8FgHAcq9XscKy05PcCkUOAb1hvixgk</string>
	<key>GCM_SENDER_ID</key>
	<string>440845684486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counterFirebase</string>
	<key>PROJECT_ID</key>
	<string>counter-firebase-1a569</string>
	<key>STORAGE_BUCKET</key>
	<string>counter-firebase-1a569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440845684486:ios:7ec4b915b60e959a819887</string>
</dict>
</plist>